<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css/style.css') }}">
</head>
<body>
    <div class="container text-center mt-5">
        
        <h1>Hello World 👋</h1>
        <p class="text-muted">Das ist meine erste Website.</p>

        <button onclick="zeigeNachricht()" class="btn btn-primary mb-4">Klick mich</button>

        <script>
            function zeigeNachricht() {
                alert("Willkommen auf meiner Website!");
            }
        </script>

        <div class="nav-links">
            <a href="{{ url_for('schüler') }}">Schüler verwalten</a>
            <a href="{{ url_for('index') }}">Zur Hauptseite</a>
        </div>

    </div>
</body>
</html>
